<%= turbo_stream_from current_company, "quotes" %>

<main class="container">
  <div class="header">
    <h1>Quotes</h1>

    <%= link_to "New quote",
                new_quote_path,
                class: "btn btn--primary",
                # 'new_quote' === dom_id(Quote.new)
                data: { turbo_frame: 'new_quote' } %>
  </div>

  <%# Quote.new === 'new_quote' %>
  <%= turbo_frame_tag Quote.new do %>
    <% if !@quotes || @quotes.none? %>
      <%= render partial: 'quotes/empty_state' %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag 'quotes' do %>
    <%= render @quotes %>
  <% end %>
</main>
